[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
kafka-python = "*"
flask-kafka = "*"
flask = "*"
websocket-client = "*"

[requires]
python_version = "3.7"
